.signupWrap {
  width: 450px;
  height: 250px;
  margin: 0 auto;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translatex(-50%);
  text-align: center;
}

.signupBtn {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 25px;
  color: #fff;
}

.signupBtn:hover {
  color: var(--color-carrot);
}

.signupBtn svg {
  font-size: 1.7em;
}

.errorMessage {
  font-size: 0.8em;
  color: var(--color-carrot);
  padding-left: 8px;
}
